body {background:linear-gradient(#a67,#a94)
}

img{ width: 450px;
    height: 450px;

}

input{
    border-radius: 5px;
    border: 3px solid rgb(63, 41, 0);
    
}

fieldset{border-radius: 20px;
    border: 50px solid rgb( rgb(8, 4, 54)); 

}